<nav class="nav nav--{{ variant|default('default') }}" data-component="nav">
  <ul>
    {% for item in menu_primary.items %}
      <li class="nav__primary-item {{ item.classes|join(' ') }}">
        <a class="nav__primary-link" href="{{ item.link }}"{{ item.is_target_blank ? ' target="_blank"' }}>{{ item.title }}</a>
        {% if item.children %}
          <ul class="nav__secondary-menu">
            {% for child_secondary in item.children %}
              <li class="nav__secondary-item {{ child_secondary.classes|join(' ') }}">
                <a class="nav__secondary-link" href="{{ child_secondary.link }}"{{ child_secondary.is_target_blank ? ' target="_blank"' }}>{{ child_secondary.title }}</a>

                {% if child_secondary.children %}
                  <ul class="nav__tertiary-menu">
                    {% for child_tertiary in child_secondary.children %}
                      <li class="nav__tertiary-item {{ child_tertiary.classes|join(' ') }}">
                        <a class="nav__tertiary-link" href="{{ child_tertiary.link }}"{{ child_tertiary.is_target_blank ? ' target="_blank"' }}>{{ child_tertiary.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}

              </li>
            {% endfor %}
          </ul>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
</nav>

